/* Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #4a4a4a;
}

/* Container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Logo */
.logo {
    margin-bottom: 2rem;
}

.logo-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.brand-name {
    font-size: 2rem;
    font-weight: bold;
    color: #4a4a4a;
    font-family: 'Garamond', serif;
    color:#7d7d7d;
}

.tagline {
    font-size: 1.25rem;
    color: #7d7d7d;
    margin-bottom: 2rem;
}

/* Links */
.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    text-decoration: none;
    font-size: 1rem; /* Tetap 1rem */
    color: #4a4a4a;
    padding: 0.75rem 0.5rem; /* Ubah dari 0.75rem 1rem menjadi 0.75rem 0.5rem */
    border: 0.5px solid #4a4a4a; /* Tetap 0.5px */
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: #cb956b;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 3rem;
    }

    .brand-name {
        font-size: 2.5rem; /* Ubah dari 2rem menjadi 2.5rem */
    }
    
    .tagline {
        font-size: 1.5rem; /* Ubah dari 1.25rem menjadi 1.5rem */
    }
    
    .link {
        font-size: 1rem 0.75rem; /* Ubah dari 1rem menjadi 1.25rem */
    }
}
